# Caddy pide y renueva solo el certificado HTTPS de API_DOMAIN (Let's Encrypt).

{$API_DOMAIN} {
	encode gzip
	request_body {
		max_size 55MB
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}
	reverse_proxy api:8000
}
